/********* COLOR PALLET *********/
/* Tan: #A2958A rgb(162,149,138) */

* {box-sizing: border-box;}


/********* LINKS *********/
/* unvisited link */
a:link {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

/* visited link */
a:visited {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

/* mouse over link */
a:hover {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	font-weight: 900;
	/* border-top: 1px solid #000;
	border-bottom: 1px solid #000; */
}

/* selected link */
a:active {
	color: red;
}


/********* INTRO *********/
.intro-img {
	display: table;
	width: 100%;
	height: 100vh;
	background: url(../img/designer-INTRO.jpg) top center fixed;
	background-size: cover;
	padding: 0 !important;
	margin: 0;
}

.logo-container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


/********* NAVBAR HOME *********/
.nav-link {
	color: #fff !important;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	/* text-shadow: 1px 1px #000; */
}

.active {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-weight: 900;
}

/* HAMBURGER MENU */
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.bkg-pink {background-color: pink;}
.bkg-white {background-color: white;}

.op50 {opacity: .75;}

.float-r {float: right !important;}

.marg-0-auto {margin: 0 auto;}

.txt-cntr {text-align: center;}
.txt-r {text-align: right;}
.txt-white {color: #fff;}

.vert-cntr {vertical-align: middle;}

.w-50 {width: 20px;}


/********* MEDIA QUERIES *********/
@media screen and (max-width: 768px) {
	
}
	
@media screen and (max-width: 640px) {
	.ms-marg0 {margin:0;}
	.ms-w70 {width: 70%;}
}


/********* INTRO ANIMATION *********/
#logoIntro {
	position: relative;
	-webkit-animation-timing-function: ease-in;
  -webkit-animation-name: intro;
	-webkit-animation-duration: 1s;

	-moz-animation-timing-function: ease-in;
  -moz-animation-name: intro;
	-moz-animation-duration: 1s;

	-ms-animation-timing-function: ease-in;
  -ms-animation-name: intro;
	-ms-animation-duration: 1s;

	-o-animation-timing-function: ease-in;
  -o-animation-name: intro;
	-o-animation-duration: 1s;
	
	animation-timing-function: ease-in;
  animation-name: intro;
  animation-duration: 1s;
}

/* Standard syntax */
@keyframes intro {
  from {left:0px; top:-20px; opacity: 0;}
  to {left:0px; top:0px; opacity:1;}
}

/* Firefox < 16 */
@-moz-keyframes intro {
	from {left:0px; top:-20px; opacity: 0;}
  to {left:0px; top:0px; opacity:1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes intro {
  from {left:0px; top:-20px; opacity: 0;}
  to {left:0px; top:0px; opacity:1;}
}

/* Internet Explorer */
@-ms-keyframes intro {
	from {left:0px; top:-20px; opacity: 0;}
  to {left:0px; top:0px; opacity:1;}
}

/* Opera < 12.1 */
@-o-keyframes intro {
	from {left:0px; top:-20px; opacity: 0;}
  to {left:0px; top:0px; opacity:1;}
}